<div class="row justify-content-md-center">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Header</h1>

      <p class="text-center">
        <strong><%= @user.name %></strong>
      </p>

      <p class="text-center">
        From this day forward you’re speciality coffee flavor notes are
      </p>
    </div>
  </div>
</div>
