/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* @font-face {
  font-family: 'Bebas-Regular', sans-serif;
  src: url(./fonts/Bebas-Regular.otf);
} */

html,
body {
  background-image: url("beans.jpg");
  background-attachment: fixed;
  background-size: contain;
  height: 100%;
}

.card_font {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}

input {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}


.header_icon {
  padding-top: 50px;
}

.footer_icon {
  padding: 10px;
}

.btn-primary {
  color: #fff;
  background-color: #212529 !important;
  border-color: #212529 !important;
}

.coffee-picture {
  max-width: 100%;
  max-height: 600px;
  height: auto;
  width: auto;
}

.full-width {
  width: 100% !important;
}

.v-centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 1rem 2rem;
}

@media only screen and (max-width: 500px) {
  .header-image {
    max-height: 160px;
    width: auto;
  }
}

.cover-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
