<div class="justify-content-md-center v-centered-content mt-auto">
  <%= image_tag("b-corp-email.gif", height: '200', width: '300', class: "header_icon") %>
  <a href="https://www.redbaycoffee.com/">Red Bay Coffee</a>
</div>
